<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.MemberMapper">

	<insert id="insert">
		insert into member(id, pw, name, phone, address, gender, email) values(#{id}, #{pw}, #{name}, #{phone}, #{address}, #{gender}, #{email})
	</insert>
	
	<select id="getMemberList" resultType="com.demo.domain.MemberVO">
		select id, pw, name, phone, address, gender, email from member
	</select>
</mapper>